<%= form_with(url: search_path, method: :get) do |form| %>

  <%= form.label :username, "Search by user name:" %>
  <div >
    <%= form.text_field :username  %>

    <%= form.submit 'Search' %>
  </div>
<% end %>